[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "{python_version}"

[packages]
typer = "*"
appdirs = "*"
ipython = "*"
pydantic = "*"
{{ cookiecutter.repo_name }} = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
build = "*"
pytest-mock = "*"
